body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.produtos{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 50px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    width: 450px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.produto{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid rgb(190, 186, 186);
    padding: 50px;
    justify-content: center;
    gap: 1rem;
}

.img{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

}


.preco{
 gap:20px;
}


.btn {
    background-color: #ff7dd8;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    height: 30px;
    width: 300px;
    border-radius: 7px;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff7dd8;

}