*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#sla{
    justify-content: center; /*basico para alinhar conteúdo dentro da div*/
    display: flex; /*basico para alinhar conteúdo dentro da div*/
    flex-wrap: wrap;
    margin-right: 10px; /*distancia de um conteúdo a outro*/
    margin-left: 10px; /*lembrar que é necessario também uma distancia do conteúdo a borda da div*/
    gap: 20px;
}

.produto{
    border: 1.5px solid #000000;
    flex-wrap: wrap; 
    justify-content: center; /*basico para alinhar conteúdo dentro da div*/
    display: flex; /*basico para alinhar conteúdo dentro da div*/
    flex-direction: column; /*basico para alinhar conteúdo dentro da div*/   
    transform: 500ms linear;
    align-items: center;
    margin: 5%;
}

.produto:hover {
    transform: scale(1.1);
}
.imgprod{
    height: 200px;
    width: 200px;

}
