.dropbtn-pu {
    background-color: #ff7dd8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
  }
  
.dropbtn-pu:hover, .dropbtn-pu:focus {
    background-color: #fa60cc;
  }
  
.dropdown-pu {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content-pu {
    display: none;
    position: relative;
    background-color: transparent;
    min-width: 60px;
    overflow: auto;
    z-index: 1;
    text-align: center;
  }
  
.show {
    display: block;
}

.info{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 50px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
  width: 450px;
  justify-content: center;
  margin: auto;
  align-items: center;
}